body {
    background: #342b2e;
    color: #e2e1e1;
}

#slideshow {
    top: 0.1vh;
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 98vh;
    overflow: hidden;
    z-index: 500;
}

.slide {
    height: 98vh;
    display: none;
    position: absolute;
}

#background {
    z-index: -999;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

hr {
    margin-top: 1.5em;
    border-top: darkred solid 1px;
}

#paragraph {
    justify-self: center;
}

/* Meet the team */

.title {
    font-family: brother-1816, sans-serif;
    font-weight: 800;
    justify-self: center;
    color: #e2e1e1;
}

.subtitle {
    font-family: brother-1816, sans-serif;
    font-weight: 600;
    justify-self: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #e2e1e1;
}

.fourGroup {
    display: flex;
    justify-content: space-between;
    color: #e2e1e1;
}

.description {
    color: #e2e1e1;
}

.profile {
    justify-items: center;
    width: 25%;
}

.name {
    background: #22191c;
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    justify-self: center;
    font-size: 1.5em;
    position: relative;
    top: -7vh;
    padding-left: 10px;
    padding-right: 10px;
    color: #e2e1e1;
}
.photo {
    height: 20vh;
    border-radius: 50%;
    border: 5px solid #e2e1e1;
}

.lead {
    border: 5px solid #FF4945;
}
#moreGroups {
    display: none;
}

#readMore {
    margin-top: 1em;
}

@media only screen and (orientation: landscape) {
    /*#slideAndPara {*/
    /*    display: flex;*/
    /*    height: 95vh;*/
    /*}*/
    /*.photo {*/
    /*    height: 20vh;*/
    /*}*/
    /*#slideshow {*/
    /*    height: 96vh;*/
    /*    left: 2.5%;*/
    /*    width: 95%;*/
    /*}*/
    /*.slide {*/
    /*    height: 100vh;*/
    /*}*/
    /*#paragraph {*/
    /*    position: absolute;*/
    /*    left: 55%;*/
    /*}*/

}

/* This part changes the scrollbar track (the part behind the scrollbar) */
::-webkit-scrollbar-track {
    background: #1E1E1E; /* Dark grey color, you can choose any color you like */
}

/* This part changes the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #474545; /* Medium grey color, this is the actual scrollbar */
}

/* You can also change the scrollbar width and height */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}