body {
    background: #342b2e;
    color: #e2e1e1;
    margin: 0;
}
#header {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 999;
    background: #22191c;
    border-bottom: #200000 solid 1px;
    padding-bottom: 0.5em;
    box-shadow: 3px 2px 3px #151515;
}

#logoBox {
    display: flex;
    width: 25%;
}

#logo {
    max-height: 4.5em;
}

#contentBox {
    display: flex;
    justify-content: space-around;
    width: 75%;
    color: #e2e1e1;
}

#body {
    width: 100%;
    height: 87.5vh;
    overflow: hidden;
}


/**
    Navbar dropdown menus
 */
ul {
    display: none;
    list-style-type: none;
    padding: 5px;
    background: #22191c;
    position: absolute;
    z-index: 999;
    top: 2.5em;
    text-align: left;
    font-family: brother-1816, sans-serif;
    font-weight: 600;
    box-shadow: 3px 2px 3px #151515;
}

div.headers:hover ul {
    display: block;
    color: #e2e1e1;
}

div:hover {
    color: #FF4945;
}

div.headers:hover h1.arrow {
    background-color: #FF4945;
    color: white;
}

.clickable:hover {
    color: #FF4945;
    cursor: pointer;
}

.headers {
    width: 12em;
    justify-content: center;
}

.clickable {
    justify-content: center;
}

h1 {
    font-family: brother-1816, sans-serif;
    font-weight: 800;
}

#footer {
    height: 80vh;
}

/* This part changes the scrollbar track (the part behind the scrollbar) */
::-webkit-scrollbar-track {
    background: #1E1E1E; /* Dark grey color, you can choose any color you like */
}

/* This part changes the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #555; /* Medium grey color, this is the actual scrollbar */
}

/* You can also change the scrollbar width and height */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}