$bg: #22191c;
$accent: #ff4945;

.slideshow {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: $bg;

  .slides {
    height: 100%;
    display: flex;
    position: relative;
  }

  .slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .slide.active {
    opacity: 1;
    z-index: 1;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 2rem;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s ease;

    &:hover {
      background-color: $accent;
    }
  }

  .prev {
    left: 1em;
  }

  .next {
    right: 1em;
  }
}
